<div id="accordion">
    @foreach (var person in ViewBag.Employee)
    {
        <h3>@person.name</h3>
            <div>
                <p>
                    <b>Dział: </b> @person.department<br/>
                    <b>Stanowisko(a): </b>@person.roles<br/>
                    <b>E-mail: </b>@person.mail<br />
                    <b>Liczba wszystkich urządzeń: </b>@person.devices_number
                </p>
            </div>

    }
</div>

<script>
$jq(document).ready(function () {
        $jq("#accordion").accordion({
            heightStyle: "content"
        });

    });
</script>