<div id="accordion">
    @foreach (var person in ViewBag.Employee)
    {
        <h3>@person.name</h3>
            <div>
                <p>
                    <b>Dział: </b> @person.department<br/>
                    <b>Stanowisko(a): </b>
                    @for (int i = person.roles.Length - 1; i >= 0; i--)
                    {
                        if (i != 0) 
                        {
                            @person.roles[i]<a>, </a>
                        }
                        else
                        {
                            @person.roles[i]
                        }

                    }
                    <br/>
                    <b>E-mail: </b>@person.mail
                </p>
            </div>

    }
</div>

<script>
$jq(document).ready(function () {
        $jq("#accordion").accordion({
            heightStyle: "content"
        });

    });
</script>