@using CompanyDefender.Converters;
@{
    ViewBag.Title = "Analiza logów urządzeń";
}
<script type="text/javascript" src="~/Scripts/Chart.bundle.js"></script>

<h2>Analiza logów urządzeń</h2>

@using (Html.BeginForm())
{
    @Html.TextBox("startDate", "2017-12-22", new { @class = "date-picker TextBox"})
    @Html.TextBox("endDate", "2018-01-21", new { @class = "date-picker TextBox"})
    <input type="submit" id="submitDate" value="Zastosuj daty" formaction="DeviceLogsAnalysis" formmethod="post" />
}

<div class="charts">
    <h3>Aktualizacja antywirusa</h3>
    <div class="col-lg-7"><canvas id="chart-0"></canvas></div>
    <div class="col-lg-5"><canvas id="chart-1"></canvas></div>
    @Ajax.ActionLink("Zobacz listę osób, które nie dokonały aktualizacji", "_AntivirusPopup", "Home", new { startDate = ViewBag.StartDate, endDate = ViewBag.EndDate },new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "dialog", InsertionMode = InsertionMode.Replace, OnSuccess = "openPopup" }, new { @id = "opener" })
</div>


<div id="dialog" title="Osoby, które nie dokonały aktualizacji">
    <img src="~/Content/ajax-loader.gif">
</div>

<script>
    var $jq = jQuery.noConflict();
    var dataValues = @JavaScriptConvert.SerializeObjectToJson(ViewBag.LineChartData.Data)
    var labelValues = @JavaScriptConvert.SerializeObjectToJson(ViewBag.LineChartData.Labels)
    new Chart('chart-0', {
        type: 'bar',
        data: {
            datasets: [{
                data: dataValues,
                backgroundColor: "#80bfff",
                borderColor: "#005ce6",
                label: 'Aktualizacja antywirusa'
            }],
            labels: labelValues,
        },
        options: {
            plugins: {
                filler: {
                    propagate: true
                }
            }
        }
    });

    var updated_quantity = @ViewBag.PieChartData.updated_quantity;
    var not_updated_quantity = @ViewBag.PieChartData.not_updated_quantity;

    new Chart('chart-1', {
        type: 'pie',
        data: {
            datasets: [{
                data: [updated_quantity, not_updated_quantity],
                backgroundColor: ["#80bfff", "#003d99"],
            }],
            labels: ["Zaktualizowany", "Niezaktualizowany"],
        },
        options: {
            plugins: {
                filler: {
                    propagate: true
                }
            }
        }
    });

    var daysToAdd = 28;
    $jq("#startDate").datepicker({
        onSelect: function (selected) {
            var date = new Date(selected);
            date.setDate(date.getDate() + daysToAdd);
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();
            var dtFormatted = year + '-' + month + '-' + day;
            $jq("#endDate").datepicker("option", { maxDate: dtFormatted, dateFormat: 'yy-mm-dd' });
        },
        dateFormat: 'yy-mm-dd'

    });

    $jq("#endDate").datepicker({
        onSelect: function (selected) {
            var date = new Date(selected);
            date.setDate(date.getDate() - daysToAdd);
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();
            var dtFormatted = year + '-' + month + '-' + day;
            $jq("#startDate").datepicker("option", { minDate: dtFormatted, dateFormat: 'yy-mm-dd' })
        },
        dateFormat: 'yy-mm-dd'
    });

    $jq(function () {
        $jq("#dialog").dialog({
            autoOpen: false,
            minHeight: 400,
            minWidth : 700
        });
        $jq("#opener").click(function () {
            $jq("#dialog").dialog("open");
        });
    });

    function openPopup() {
        $jq("#dialog").dialog("open");
    }

    $jq(document).ready(function () {
        $jq('h3').addClass('text-title-chart');
    });

</script>
