@using CompanyDefender.Models;
@using CompanyDefender.Converters;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PersonMailFullViewModel

<!doctype html>
<html>
<head>
    <title>Mails viewer</title>

    <script type="text/javascript" src="~/Scripts/vis.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
    <h2>System mailowy</h2>
    <div id="mynetwork"></div>
   
    <table id="mails" class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Nadawca</th>
            <th>Odbiorca</th>
            <th>Temat wiadomości</th>
            <th>Treść wiadomości</th>
        </tr>
        @foreach (var mailsRow in Model.MailsTable)
        {
            <tr>
                <td>@mailsRow.FullNameFrom</td>
                <td>@mailsRow.FullNameTo</td>
                <td>@mailsRow.Topic</td>
                <td>@mailsRow.Body</td>
            </tr>
        }
    </table>  

    <script type="text/javascript">

        var persons = @JavaScriptConvert.SerializeObjectToJson(Model.PersonsGraph);
        var nodes = new vis.DataSet(persons);

        var mails = @JavaScriptConvert.SerializeObjectToJson(Model.MailsGraph);
        var edges = new vis.DataSet(mails);

        var container = document.getElementById('mynetwork');
        var data = {
            nodes: nodes,
            edges: edges
        };
        var options = {};
        var network = new vis.Network(container, data, options);

        $(document).ready(function () {
            $('#mails  tr:odd').addClass('zebra')
        });
    </script>

</body>
</html>
